.title-component {
  margin-left: 1.5em;
 }

 table {
   background-color: #ffff;
   max-width: 100em;
   margin: 1.5em;
 }

 th {
   background-color:#023047;
   color: #ffff;
 }


 .red-text {
  color: red;
}

.blue-text {
  color: blue;
}
