<app-spinner *ngIf="isLoading"></app-spinner>
<div class="title-component">
  <h4>Note {{matiere}} </h4>
</div>
<form>
  <input type="number" name="minNote" [(ngModel)]="min">
  <input type="number" name="maxNote" [(ngModel)]="max">
  <button (click)="filtrer()">Filtrer</button>
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Eleve</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listeDevoirs ">
        <td>{{item.idEtudiant.nom}}</td>
        <td [ngClass]="item.note < 10 ? 'red-text ' : 'blue-text '">{{item.note}}</td>
      </tr>

    </tbody>
  </table>
</div>
