<div class="title-component">
  <h4>Note {{matiere}} </h4>
</div>
<form>
  Note min
  <input type="text" name="noteMin" placeholder="8">
  Note max
  <input type="text" name="noteMax" placeholder="17">
  <button>Filtrer</button>
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Eleve</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listeDevoirs ">
        <td>{{item.idEtudiant.nom}}</td>
        <td [ngClass]="item.note < 10 ? 'red-text ' : 'blue-text '">{{item.note}}</td>
      </tr>

    </tbody>
  </table>
</div>
