<h4>Edit</h4>

<form>
  <div class="form-group">
    <label for="matiere">Matiere</label>

    <select name="matiere" class="form-control" id="matiere" [(ngModel)]="devoir.idMatiere._id">
      <option *ngFor="let item of matieres" value="{{item._id}}">{{item.nom}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="etudiant">Etudiant</label>
    <select name="etudiant" class="form-control" id="etudiant" [(ngModel)]="devoir.idEtudiant._id">
      <option *ngFor="let item of etudiants" value="{{item._id}}">{{item.nom}}</option>
    </select>
  </div>
  <button class="btn btn-primary">Modifier</button>
</form>
