<app-spinner *ngIf="isLoading"></app-spinner>
<div class="modal-header">
  <h4 class="modal-title">Rendre Devoir</h4>
  <button type="button" class="close" aria-label="Close" (click)='modalRef.hide()' >
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <label>Note</label>
    <input [(ngModel)]="devoir.note"  name="note" class="form-control">
    <label>Remarque</label>
    <input [(ngModel)]="devoir.remarque"  name="remarque" class="form-control">
    <button class="btn btn-primary" (click)="rendreDevoir()">Valider</button>
  </form>
</div>
