<app-spinner *ngIf="isLoading"></app-spinner>
<button class="btn btn-primary" style="margin-top: 1em; margin-bottom: 1em;" routerLink="">Retour vers liste</button>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th class="table-primary" scope="col">Etudiant</th>
    <td class="table-primary">{{devoir.idEtudiant.nom}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Matiere</th>
    <td class="table-primary">{{devoir.idMatiere.nom}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Date Rendu</th>
    <td class="table-primary">{{devoir.dateRendu | date:'dd/MM/yyyy'}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Note</th>
    <td class="table-primary" colspan="2">{{devoir.note}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Remarque</th>
    <td class="table-primary" colspan="2">{{devoir.remarque}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Prof</th>
    <td class="table-primary" colspan="2">{{devoir.idMatiere.prof}}</td>
  </tr>
  <tr>
    <th class="table-primary" scope="row">Statut</th>
    <td class="table-primary" colspan="2">{{devoir.estRendu? "Déjà rendu": "Pas encore rendu"}}</td>
  </tr>
  </tbody>
</table>
<div *ngIf="isAdmin">
  <button class="btn btn-warning" style="margin-right: 1em;" routerLink="/app/assignments/edit/{{devoir._id}}">Modifier </button>
  <button class="btn btn-info" style="margin-right: 1em;">Annuler </button>
  <button class="btn btn-danger" (click)="deleteDevoir()">Supprimer</button>
</div>
