.title-component {
 margin-left: 1.5em;
 max-width: 100em;
 margin-top: 1em;
}

table {
  background-color: #ffff;
  max-width: 100em;
  margin: 1.5em;
}

th {
  background-color:#023047;
  color: #ffff;
}
