<div class="title-component">
  <h3>Matière </h3>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">matiere</th>
        <th scope="col">image</th>
        <th scope="col">prof</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let etudiant of matieres ">
        <td><a routerLink="{{etudiant._id}}">{{etudiant.nom}}</a></td>
        <td><img src="{{etudiant.image}}" width="85px"></td>
        <td><img src="assets/img/profil.png" width="60px" style="clip-path: ellipse(30% 50%);">{{etudiant.prof}}</td>
      </tr>

    </tbody>
  </table>
</div>
