<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4 ">
      <a routerLink="/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <mat-icon>assignment</mat-icon>
       Assignements
      </a>
      <a routerLink="etudiant" class="list-group-item list-group-item-action py-2 ripple">
        <mat-icon>accessibility</mat-icon>
        Etudiants
      </a>
      <a routerLink="matiere" class="list-group-item list-group-item-action py-2 ripple">
        <mat-icon>horizontal_split</mat-icon>
        Matiere
      </a>
    </div>
  </div>
</nav>
