.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100em;
  margin-bottom: 1em;
}
.title-component {
  margin-left: 1.5em;
 }

 table {
   background-color: #ffff;
   max-width: 100em;
   margin: 1.5em;
 }

 th {
   background-color:#023047;
   color: #ffff;
 }

 .btn {
  background-color:  #f3f0f0;
  border-color: #219ebc;
  color: #219ebc;
}

.btn:hover {
  background-color: #219ebc;
  color: #f3f0f0;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

select {
  width: 10em;
  height: 3em;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1.5em;
  border-radius: 20px;
}

.container {
  display: flex;
}

.todo  {
  background-color: rgb(145, 145, 145);
  /*width: 100em;*/
  display: inline-block;
  vertical-align: top;
  /*margin-right: 150px;*/
}
/* .content-todo {
  max-width: 50em;
} */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  max-width: 300px;
  margin: 10px auto;
  cursor: pointer;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.todo{
  background-color: wheat;
}
.section1{
  width: 47%;
}
.section2{
  width: 47%;
}
.titre{
  text-align: center;
}
.mysection{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1600px) {
  .card {
    max-width: 250px;
    margin: 10px auto;
    cursor: pointer;
  }
}
@media (max-width: 1340px) {
  .card {
    max-width: 300px;
    margin: 10px auto;
    cursor: pointer;
  }
}

