.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100em;
  margin-bottom: 1em;
}
.title-component {
  margin-left: 1.5em;
 }

 table {
   background-color: #ffff;
   max-width: 100em;
   margin: 1.5em;
 }

 th {
   background-color:#023047;
   color: #ffff;
 }

 .btn {
  background-color:  #f3f0f0;
  border-color: #219ebc;
  color: #219ebc;
}

.btn:hover {
  background-color: #219ebc;
  color: #f3f0f0;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

select {
  width: 10em;
  height: 3em;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1.5em;
  border-radius: 20px;
}


.content {
  max-width: 100em;
}

.row {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.card {
  max-width: 400px;
  margin: 10px 20px;
  cursor: pointer;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
