<app-spinner *ngIf="isLoading"></app-spinner>
<div class="content-header">
  <div class="title-component">
    <h3>Assignments </h3>
  </div>
  <button class="btn btn-primary">
    <span routerLink="add">Ajouter</span>
  </button>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selection de la page des assigments"
  (page)="handlePage($event)" class="demo-paginator" [length]="totalItem" [pageSize]="limit">
</mat-paginator>
<!-- <select name="filtre" [(ngModel)]="selectedId">
  <option *ngFor="let item of listeFiltre" value="{{item.value}}">{{item.key}}</option>
</select>
<button class="btn btn-primary" (click)="filtrer()">Filtrer</button> -->
<!-- Mat card -->
<div class="container">

  <div class="todo">
    <div class="titre">
      <h2>A rendre</h2>
    </div>

    <div class="content-todo" cdkDropList #NonRenduList="cdkDropList" [cdkDropListConnectedTo]="[RenduList]"  [cdkDropListData]="devoirNonRendu" (cdkDropListDropped)="drop($event)">
      <div class="row">
        <!-- routerLink="{{item._id}}" -->
        <mat-card class="card" *ngFor="let item of devoirNonRendu" cdkDrag>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.idMatiere.nom}}</mat-card-title>
            <mat-card-subtitle>Prof: {{item.idMatiere.prof}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Date de Rendu : <strong>{{item.dateRendu | date:'dd/MM/yyyy'}}</strong>
            </p>
            <p>
              Etudiant : <a routerLink="{{item._id}}">{{item.idEtudiant.nom}}</a>
            </p>
            <p *ngIf="item.note" style="font: bold">
              Remarque : {{item.remarque}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="todo">
    <div class="titre">
      <h2>Rendu</h2>
    </div>

    <div class="content-todo" cdkDropList #RenduList="cdkDropList" [cdkDropListConnectedTo]="[NonRenduList]" [cdkDropListData]="devoirRendu" (cdkDropListDropped)="drop($event)">
      <div class="row">
        <!-- routerLink="{{item._id}}" -->
        <mat-card class="card" *ngFor="let item of devoirRendu" cdkDrag>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.idMatiere.nom}}</mat-card-title>
            <mat-card-subtitle>Prof: {{item.idMatiere.prof}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              Date de Rendu : <strong>{{item.dateRendu | date:'dd/MM/yyyy'}}</strong>
            </p>
            <p>
              Etudiant : <a routerLink="{{item._id}}">{{item.idEtudiant.nom}}</a>
            </p>

          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>
</div>


<!-- Mat car -->
