<div class="content-header">
  <div class="title-component">
    <h3>Assignments </h3>
  </div>
  <button class="btn btn-primary">
    <span routerLink="add">Ajouter</span>
  </button>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selection de la page des assigments"
               (page)="handlePage($event)" class="demo-paginator" [length]="totalItem" [pageSize]="limit">
</mat-paginator>
<select name="filtre" [(ngModel)]="selectedId">
  <option *ngFor="let item of listeFiltre" value="{{item.value}}">{{item.key}}</option>
</select>
<button class="btn btn-primary" (click)="filtrer()">Filtrer</button>
<div class="table-responsive">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">Nom Etudiant</th>
        <th scope="col">Matiere</th>
        <th scope="col">Date de rendu</th>
        <th scope="col">Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td><a routerLink="{{item._id}}">{{item.idEtudiant.nom}}</a></td>
        <td>{{item.idMatiere.nom}}</td>
        <td>{{item.dateRendu | date:'dd/MM/yyyy'}}</td>
        <td [ngClass]="item.note < 10 ? 'red-text ' : 'blue-text '">{{item.note}}</td>
        <td><button class="btn btn-success" *ngIf="!item.estRendu" (click)="openModal(item._id)">Rendre</button></td>
      </tr>
    </tbody>
  </table>
</div>
